.tiler-image-container {
    padding: 0;
    margin: 0;
    clear: both;
}

.tiler-image-container > div {
    display: inline-block;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
