.tiler-image-container {
    padding: 0;
    margin: 0;
}

.tiler-image-container > div {
    display: inline-block;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tiler-image-container > div.end {
    clear: both;
    float: none;
    display: block;
}
